<!DOCTYPE html>
<html>
  <head>
    <title>Referrals</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= render_app_data_script %>
    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <% if notice || alert %>
        <%= react_component "Alerts", props: {message: alert || notice}, prerender: false %>
    <%end%>
    <%= react_component "NavigationBar", prerender: false %>
    <div class="container">
      <%= yield %>
    </div>    

    <%= javascript_pack_tag('client-bundle', 
                                       'data-turbolinks-track': true,
                                       defer: true) %>

  </body>
</html>
